<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
	
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
<link rel="stylesheet"
	href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
<link rel="stylesheet" th:href="@{/css/sweetalert.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script th:src="@{/js/sweetalert.min.js}"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />

<title>Listado de Instructores</title>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cursos App</a>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/categorias/listar}">Categorias</a></li>
                    <li><a th:href="@{/instructores/listar}">Instructores</a></li>
                    <li><a th:href="@{/temarios/listar}">Temario</a></li>
                    <li><a th:href="@{/temas/listar}">Temas</a></li>
                    <li><a th:href="@{/cursos/listar}">Cursos</a></li>
                    
                </ul>
    
    
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
	<div class="container body-content">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h2>Listado de Instructores</h2>
				</div>
				<div class="col-6">
					<a th:href="@{/instructores/create}" class="btn btn-success">
						Alta Instructor </a>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-12">
					<div class="table-responsive">
						<table class="table table-bordered table-stripped"
							id="tablaInstructores" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>id</th>
									<th>Nombre</th>
									<th>Telefono</th>
									<th>Codigo Instructor</th>
									<th>Horas</th>
									<th>Foto</th>
									<th>Acciones</th>
								</tr>
							</thead>

							


						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	
	<!-- script que consume la api mediante ajax -->
	<script th:src="@{/js/instructores.js}"></script>
</body>
</html>

